{% extends 'blog/base.html' %}
{% block content %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
        <!--글제목을 넣을 예정입니다-->
        <h2 class="text-center mt-0">제목: {{posts.title}}</h2>
        <hr class="divider" />
        <p>작성 일자 및 시간: {{posts.pub_date}}</p>
        <p>글쓴이 : {{post.writer}}</p>
        <p>내용:{{post.body}}</p>
        {% if post.image %}
            <img src ="{{ post.image.url }}" width="250" height="250" alt = "Card image cap">
        {% endif %}
        <br>
        {% for hashtag in post.hashtags.all %}
            <span>{{ hashtag.name }}</span>
        {% endfor %}
        <br>
        <a href="{% url 'edit' post.id %}">수정하기</a>
        <a href="{% url 'delete' post.id %}">삭제하기</a>
        {% for comment in post.comments.all %}
        <p> {{ comment.text }}</p>
        {% endfor %}
        <form method="POST" action="{% url 'detail' post.id %}" enctype="multipart/form-data">
            {% csrf_token %}
            <p>{{ form.as_table }}</p>
            <button type="submit" value="submit"></button>
    </div>
</section>
{% endblock %}