{% extends 'blog/base.html' %}
{% block main %}
{% load static %}
<section class="page-section" id="services">
    <div class="container px-4 px-lg-5">
      <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton1" data-bs-toggle="dropdown" aria-expanded="false">
          Hashtag 검색
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton1">
          {% for hashtag in hashtags.all %}
          <a class = "dropdown-item" href="{% url 'search' hashtag.id %}">{{ hashtag.name }}</a>
          {% endfor %}
        </div>
      </div>
        <h2 class="text-center mt-0">메인 페이지 입니다.</h2>
        {% for posts in posts.all %}
        <p>제목: {{posts.title}}</p>
        <p>작성자: {{posts.writer}}</p>
        <p>작성일지 및 시간: {{posts.pub_date}}</p>
        {% if posts.image %}
          <img src = "{{ posts.image.url }}" width="250" height="250" alt = "Card image cap">
        {% endif %}
        <hr>
        {% endfor %}
        <hr class="divider" />
        
    </div>
</section>
{% endblock %}
